:root {
    --primary-color: #1e0da7;
    --secondary-color: #393939;
    --tertiary-color: #575757;
    --quaternary-color: #757575;
    --quinary-color: #939393;
    --senary-color: #b1b1b1;
    --septenary-color: #cfcfcf;
    --octonary-color: #ededed;
    --nonary-color: #fbfbfb;
}

